<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<style>
    .inline{
        display: flex;
    }
    .img{
        margin-left: 20px;
        margin-right: 5px;
    }
    .text{
        text-align: center;
    }

</style>
<body>
<div class="insert">
    <form action="/upload" method="post" name="file" enctype="multipart/form-data">
        <p>프로필 사진</p>
        <input type="file"  name="file" multiple />
        <p>비교 사진</p>
        <input type="file"  name="file" multiple />
        <div class="file-list"></div>
        <input type="submit">
    </form>
</div>

<br><br>
<div class="inline">
    <div th:each=" result : ${results}">
        <img class="img" th:src="${result.getImgUrls()}" style="width:200px; height:200px;">
        <div class="text" th:text="${result.getValues()}"></div>
    </div>
</div>

</body>
</html>